:root {
  /* primary colors */
  --clr-darkblue01: #cfd4ed;
  --clr-darkblue04: #0d28a6;
  --clr-limegreen03: #92d094;
  --clr-limegreen04: #5cb85f;

  /* Alert Colors */
  --clr-danger: #fa2c5a;
  --clr-warning: #f9cc00;
  --clr-success: #73ca5c;

  /* Neutral colors */
  --clr-neutral01: #ffffff;
  --clr-neutral02: #d0d0d0;
  --clr-neutral03: #8a8a8a;
  --clr-neutral04: #3c3c3c;
}

/* ------------------------------- */
/* Global */
/* ------------------------------- */

p {
  line-height: 1.75;
}

/* ------------------------------- */
/* Utility */
/* ------------------------------- */

/* containers */

/* colors */
.bg-dark-blue {
  background-color: var(--clr-darkblue04) !important;
}
.bg-light-blue {
  background-color: var(--clr-darkblue01) !important;
}

.text-light {
  color: var(--clr-neutral01) !important;
}

/* buttons */
.btn-success-custom {
  background-color: var(--clr-success);
  color: var(--clr-neutral01) !important;
}

/* border */
.rounded-custom-8 {
  border: 1px solid var(--clr-neutral02) !important;
  border-radius: 8px !important;
}
.rounded-custom-13 {
  border: 1px solid var(--clr-neutral02);
  border-radius: 13px;
}

/* reset  */
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

/* ------------------------------- */
/* Services section */
/* ------------------------------- */

/* Services section */
.services-list {
  list-style-image: url("../image/style_type_check.png");
}

/* ------------------------------- */
/* Testimonial */
/* ------------------------------- */
.prev-arrow,
.next-arrow {
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 50%;
  color: var(--clr-neutral01);
  margin-left: 2rem;
  background-color: var(--clr-limegreen04);
}
